{:paths ["src"] ; where your cljd files will live
 :deps {tensegritics/clojuredart {:git/url "https://github.com/tensegritics/ClojureDart.git"
                                  :sha "71b9d9f9c750c2aa332734418048a427ec19dac5"}}

 :aliases {:dev {:classpath-overrides {org.clojure/clojure nil}
                 :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.11.4-1"}
                              com.github.flow-storm/flow-storm-dbg {:mvn/version "4.0.0-alpha7" #_#_:local/root "/home/jmonetta/my-projects/flow-storm-debugger" #_#_:mvn/version "3.6.3"}}
                 :jvm-opts ["-Dproject-name=ClojureDart"
                            "-Dflowstorm.startRecording=false"
                            "-Dflowstorm.theme=dark"
                            ;;"-Dflowstorm.styles=/home/jmonetta/.flow-storm/big-fonts.css"
                            "-Dclojure.storm.instrumentEnable=true"
                            "-Dclojure.storm.instrumentOnlyPrefixes=cljd."]}
           :cljd {:main-opts ["-m" "cljd.build"]}}

 :cljd/opts {:kind :flutter
             :main acme.main}}
